#activity-container{
    background-color: #FFDCA1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}




.title{
    display: flex;
    justify-content: center;
}

.timer-wrapper{
    display: flex;
    justify-content: center;
    font-size: 50px;
  
    
}

.circle{
    display: flex;
    justify-content: center;
    margin-left: 43%;
    background-color: #F09B41;
    border-radius: 50%;
    height: 250px;
    width: 250px;

    
}

.question{
    display: flex;
    justify-content: center;
}

.answerbox{
    display: flex;
    justify-content: center;
    padding: 5%;
    margin: 5%;
}

.subbutton{
    color: #fff;
    background-color: #F09B41;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 15px;
}