
#dasboard-form-container {
  background-color: #FFDCA1;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#dash-submit {
  color: #fff;
  background-color: #F09B41;
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  border: none;
  border-radius: 15px;
}

.wave-container-2 {
  width: 100%;
  z-index: -100;
  top:450px;
  display: block;
  position: relative;
  background-color: #FFDCA1;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}

.button {
  display:flex;
  zoom: 1;
  font-size: 14px;
  color: #666666;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

input.button, button.button {
  /* height: 34px; */
  cursor: pointer;
}

.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  background: #EEE;
  border: 1px solid #dddddd;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
}

.button-circle {
  border-radius: 240px;
  width: 120px;
  line-height: 60px;
  height: 120px;
  padding: 50px;
  font-size: 18px;
}

.button-highlight {
  background-color: #F09B41;
  border-color: #F09B41;
  color: white;
}

.button-highlight:hover {
  background-color: #f18d05;
}

.button-highlight:active {
  background: #d8891e;
  color: #8d5303;
}

.wave-container-3 {
  width: 100%;
  z-index: 100;
  top:450px;
  display: block;
  position: relative;
  background-color: #FFDCA1;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}

.orange-div-3 {
  width: 100%;
  height: 100%;
  padding-top: 85vh;
  background-color: #F09B41;
}

@media screen and (max-width: 768px) {
  #dasboard-form-container {
      height: 450px;
  }
}