#dasboard-form-container {
  background: linear-gradient(120deg, #ffd4a1 30%, #ffdca1 30%, #ffdca1 60%, #ffe4a1 60%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#page-container {
  padding-left: 20vw;
  padding-right: 20vw;
  margin-bottom: 30px;
}

#dash-submit {
  color: #fff;
  background-color: #F09B41;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 2px;
  border: none;
  border-radius: 15px;
  z-index: 5;
}

#dash-submit a button{
  margin: auto;
}

#dash-submit:hover {
  cursor: pointer;
  background-color: #f18d05;
}

#sub-main {
  width: 100%;
  margin-top: 20px;
}

.button {
  display:flex;
  padding: 0px 25.6px;
  font-size: 14px;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

input.button, button.button {
  cursor: pointer;
}

.button-circle {
  margin-top: 50px;
  border-radius: 240px;
  width: 150px;
  line-height: 35px;
  height: 150px;
  padding: 10vh;
  font-size: 18px;
}

.button-highlight {
  background-color: #F09B41;
  border-color: #bf7004;
  color: white;
  display: flex;
  align-items: center;
  margin: auto;
}

.button-highlight:hover {
  background-color: #f18d05;
  transition: .2s;
}

.button-highlight:active {
  background: #d8891e;
  color: #8d5303;
}

@media screen and (max-width: 560px) {
  .button-circle {
    width: 30vw;
    height: 30vw;
  }
}

@media screen and (max-width: 400px) {
  .button-circle {
    width: 25vw;
    height: 25vw;
  }
  #page-container {
    padding-left: 16vw;
    padding-right: 16vw;
  }
}