#app-home-container {
    min-height: 100%;
    box-sizing: border-box;
}

#home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFDCA1;
}

#home-logo {
    display: flex;
    justify-content: center;
    margin-top: 40%;
    background-color: #F09B41;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

#home-logo p {
    height: fit-content;
    align-self: center;
    color: #fff;
    font-size: 2em;
}   

#home-login-buttons {
    width: 250px;
    padding-top: 10%;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 100;
    margin: 0px;
}

#login-button,
#signup-button {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    color: #7e7e7e;
}

.wave-container {
    display: block;
    position: relative;
    background-color: #FFDCA1;
    color: #FFF;
    text-align: center;
    overflow: hidden;
}

.orange-div {
    width: 100%;
    height: 100%;
    padding-top: 200px;
    background-color: #F09B41;
}

@media screen and (max-width: 1000px) {

    #home-logo {
        margin-top: 45%;
    }
    .orange-div {
        padding-top: 210px
    }
}

@media screen and (max-width: 850px) {

    .orange-div {
        padding-top: 250px
    }
}

@media screen and (max-width: 610px) {

    .orange-div {
        padding-top: 300px
    }
}

@media screen and (max-width: 400px) {
    #home-login-buttons {
        width: 150px;
    }

    #home-logo {
        margin-top: 100%;
        height: 150px;
        width: 150px;
    }
    .orange-div {
        padding-top: 380px;
    }
    #home-login-buttons {
        padding-top: 25%;
    }
}

@media screen and (max-width: 300px) {
    #home-login-buttons {
        width: 150px;
    }

    #home-logo {
        height: 150px;
        width: 150px;
    }
    .orange-div {
        padding-top:410px
    }
}

@media screen and (max-width: 180px) {
    #home-login-buttons {
        width: 100px;
    }

    #home-logo {
        margin-top: 160%;
        height: 100px;
        width: 100px;
    }

    #home-logo p {
        font-size: 1.2em;
    }

    .orange-div {
        padding-top: 460px
    }

    #login-button,
    #signup-button {
        width: 100px;
        height: 30px;
    }   
}