#memory-game {
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(120deg, #ffd4a1 30%, #ffdca1 30%, #ffdca1 60%, #ffe4a1 60%);
  text-align: center;
  color: #fff;
}

#memory-game h1 {
  margin: 0;
  padding-top: 10px;
}

#cards-section {
  margin-bottom: 50px;
}

#new-game {
  margin-bottom: 20px;
  border: none;
  background-color: #fff;
  color: #ffdca1;
  padding:10px
}

.boardForm {
    text-align: center;
}
  
.card-grid{
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  #memory-game {
    height: 100vh;
  }
}

@media screen and (max-width: 500px) {
  #memory-game h1 {
    font-size: 1.3em;
  }
}