#memory-component {
    background-image: url('../../assets/images/cloud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #66D0FF;
    height: 100vh;
}


.memory-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.memory-div {
    margin-top:70px;
    width:350px;
    height:160px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    margin: 50px auto auto;
    padding: 10px;
    border-radius: 15px;
}


.memory-title {
    color:Orange;
}