/* #logoutButton{
    width: 100px;
    cursor:pointer;
    border-radius:50px;
    padding:10px 20px 10px 0;
    color:#7e7e7e;
    font-size:14px;
    text-align:left;
    text-indent:40px;
    display:block;
    margin:0 auto;
} */

/* 
#root div {
    height: 0px;
} */

#nav-list {
    /* position: fixed; */
    display: flex;
    justify-content: flex-end;
}

#nav-list li {
    list-style: none;
}

#nav-list li a {
    text-decoration: none;
    margin-right: 10px;
    color: #7e7e7e;
}
